<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>El camino a un mejor programador by emanchado</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>El camino a un mejor programador</h1>
        <p>Artículos sobre ingeniería informática</p>

        <ul>
          <li><a href="https://github.com/emanchado/camino-mejor-programador/zipball/master">Libro en <strong>PDF</strong></a></li>
          <li><a href="https://github.com/emanchado/camino-mejor-programador/tarball/master">Libro en <strong>ePub</strong></a></li>
          <li><a href="https://github.com/emanchado/camino-mejor-programador">Libro en <strong>HTML</strong></a></li>
        </ul>
      </header>
      <section>
{{content}}
      </section>
      <footer>
        <p><small>Hosted on GitHub &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>

  </body>
</html>
